<div class="header">
  <h2>Appointments</h2>
  <button (click)="goToBooking()">+ New</button>
</div>

<div class="container">

  <div *ngIf="appointments.length === 0" class="empty">
    No appointments yet 🚫
  </div>

  <div class="grid">
    <div class="card" *ngFor="let a of appointments">
      
      <div class="card-header">
        <h3>{{ a.name }}</h3>
        <span class="service">{{ a.service }}</span>
      </div>

      <div class="card-body">
        <p>📞 {{ a.phone }}</p>
        <p>📅 {{ a.date }}</p>
        <p>⏰ {{ a.time }}</p>
      </div>

    </div>
  </div>

</div>